PySide2==5.15.2.1
shiboken2==5.15.2.1
vtk==9.0.1
numpy==1.19.5
numpydoc==1.4.0
silx==0.15.2
python-box==5.3.0
matplotlib==3.3.4
qt-material==2.14
scipy==1.10.1
networkx==3.1
dataclasses==0.6
pyyaml==6.0
jsonpickle==3.0.1
scine_utilities==10.0.0
scine_sparrow==5.1.0
scine_readuct==6.0.0
